* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.heroSection {
    background-image: url(./assets/hero_bg.png);
}

.footer {
    background-image: url(./assets/footer.png);
}